<h1>New game</h1>

<ul>
  <% @letters.each do |letter| %>
    <li> <%= letter.upcase %> </li>
  <% end %>
</ul>

<form action="/score" method="POST">
  <div>
    <label for="longest">What is the longest word you can find?</label>
    <input name="longest" id="longest" placeholder="looooooong">
    <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
    <%= hidden_field_tag :letters, @letters %>
  </div>
  <div>
    <button>Play</button>
  </div>
</form>
